<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.Article">
        <id column="a_id" property="aId" />
        <result column="a_name" property="aName" />
        <result column="a_model" property="aModel" />
        <result column="a_title" property="aTitle" />
        <result column="a_content" property="aContent" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="addArticle">
        INSERT INTO `tb_article` VALUES(NULL, #{articleName}, #{modelId}, #{articleTitle}, #{articleContent}, NOW(), 0);
    </insert>

    <insert id="addProblem">
        INSERT INTO `tb_article` VALUES(NULL, #{articleName},0 , #{articleTitle}, #{articleContent}, NOW(), 0);
    </insert>

    <update id="updateArticle">
        UPDATE `tb_article`
        SET
            `a_title` = #{articleTitle},
            `a_content` = #{articleContent}
        WHERE `a_id` = #{articleId}
    </update>

    <update id="deleteArticle">
        UPDATE `tb_article`
        SET
            `is_delete` = 1
        WHERE `a_id` = #{articleId}
    </update>

    <select id="listArticleByModel" resultType="com.example.javapythonstory.code.entity.po.Article">
        SELECT
            `a_id`, `a_name`, `a_model`, `a_title`, `a_content`, `create_time`, `is_delete`
        FROM `tb_article`
        WHERE `is_delete` = 0
        AND `a_model` = #{modelId}
    </select>
    
    <select id="queryOneArticleById" resultType="com.example.javapythonstory.code.entity.po.Article">
        SELECT
            `a_id`, `a_name`, `a_model`, `a_title`, `a_content`, `create_time`, `is_delete`
        FROM `tb_article`
        WHERE `is_delete` = 0
        AND `a_id` = #{articleId}
    </select>

    <select id="listProblem" resultType="com.example.javapythonstory.code.entity.po.Article">
        SELECT
            `a_id`, `a_name`, `a_model`, `a_title`, `a_content`, `create_time`, `is_delete`
        FROM `tb_article`
        WHERE `is_delete` = 0
          AND `a_model` = 0
    </select>

    <select id="listProblemByWord" resultType="com.example.javapythonstory.code.entity.po.Article">
        SELECT
            `a_id`, `a_name`, `a_model`, `a_title`, `a_content`, `create_time`, `is_delete`
        FROM `tb_article`
        WHERE `is_delete` = 0
          AND `a_model` = 0
          OR `a_title` LIKE CONCAT('%', #{word}, '%')
          OR `a_content` LIKE CONCAT('%', #{word}, '%')
    </select>
</mapper>
