<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.DirectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.Direction">
        <id column="d_id" property="dId" />
        <result column="d_name" property="dName" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="addDirection">
        INSERT INTO `tb_direction` VALUES(#{directionId}, #{directionName},NOW(), 0);
    </insert>

    <update id="updateDirection">
        UPDATE `tb_direction`
        SET `d_name` = #{directionName}
        WHERE `d_id` = #{directionId}
    </update>

    <update id="deleteDirection">
        UPDATE `tb_direction`
        SET `is_delete` = 1
        WHERE `d_id` = #{directionId}
    </update>

    <select id="listDirection" resultType="com.example.javapythonstory.code.entity.po.Direction">
        SELECT `d_id`,`d_name`,`create_time`,`is_delete`
        FROM `tb_direction`
        WHERE `is_delete` = 0
    </select>

    <select id="queryOneDirectionById" resultType="com.example.javapythonstory.code.entity.po.Direction">
        SELECT `d_id`,`d_name`,`create_time`,`is_delete`
        FROM `tb_direction`
        WHERE `is_delete` = 0
        AND `d_id` = #{directionId}
    </select>
</mapper>
