<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.ModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.Model">
        <id column="m_id" property="mId" />
        <result column="m_name" property="mName" />
        <result column="m_direction" property="mDirection" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="addModel">
        INSERT INTO `tb_model` VALUES(NULL, #{modelName}, #{directId}, NOW(), 0);
    </insert>

    <update id="updateModel">
        UPDATE `tb_model`
        SET `m_name` = #{modelName}
        WHERE `m_id` = #{modelId}
    </update>

    <update id="deleteModel">
        UPDATE `tb_model`
        SET `is_delete` = 1
        WHERE `m_id` = #{modelId}
    </update>

    <select id="listModelByDirection" resultType="com.example.javapythonstory.code.entity.vo.model.ModelVo">
        SELECT
            `m`.`m_id` AS `modelId`,
            `m`.`m_name` AS `modelName`,
            `d`.`d_id` AS `directionId`,
            `d`.`d_name` AS `directionName`
        FROM `tb_model` AS `m`
        LEFT JOIN `tb_direction` AS `d`
        ON `m`.`m_direction` = `d`.`d_id`
        WHERE `m`.`m_direction` = #{directionId}
        AND `m`.`is_delete` = 0
    </select>

</mapper>
