<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.NoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.Note">
        <id column="n_id" property="nId" />
        <result column="n_user" property="nUser" />
        <result column="n_model" property="nModel" />
        <result column="n_title" property="nTitle" />
        <result column="n_content" property="nContent" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="addNote">
        INSERT INTO `tb_note` VALUES (NULL, #{userId}, #{modelId}, #{title}, #{content}, NOW(), 0);
    </insert>

    <update id="updateNote">
        UPDATE `tb_note`
        SET
            `n_title` = #{title},
            `n_content` = #{content}
        WHERE `n_id` = #{noteId}
        AND `n_user` = #{userId}
    </update>

    <update id="deleteNote">
        UPDATE `tb_note`
        SET `is_delete` = 1
        WHERE `n_id` = #{noteId}
    </update>

    <select id="listNoteByUser" resultType="com.example.javapythonstory.code.entity.po.Note">
        SELECT
            `n_id`,
            `n_user`,
            `n_model`,
            `n_title`,
            `n_content`,
            `create_time`,
            `is_delete`
        FROM `tb_note`
        WHERE `n_user` = #{userId}
        AND `is_delete` = 0
    </select>

    <select id="listNoteByUserAndModel" resultType="com.example.javapythonstory.code.entity.po.Note">
        SELECT
            `n_id`,
            `n_user`,
            `n_model`,
            `n_title`,
            `n_content`,
            `create_time`,
            `is_delete`
        FROM `tb_note`
        WHERE `n_user` = #{userId}
          AND `n_model` = #{modelId}
          AND `is_delete` = 0
    </select>

    <select id="queryOneNoteById" resultType="com.example.javapythonstory.code.entity.po.Note">
        SELECT
            `n_id`,
            `n_user`,
            `n_model`,
            `n_title`,
            `n_content`,
            `create_time`,
            `is_delete`
        FROM `tb_note`
        WHERE `n_id` = #{noteId}
          AND `is_delete` = 0
    </select>

</mapper>
