<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.Question">
        <id column="q_id" property="qId" />
        <result column="q_content" property="qContent" />
        <result column="q_model" property="qModel" />
        <result column="q_type" property="qType" />
        <result column="q_answer" property="qAnswer" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="addTrainingQuestion">
        INSERT INTO `tb_question` VALUES (NULL, #{content}, #{modelId}, 'ask', #{answer}, NOW(), 0);
    </insert>

    <insert id="addAskQuestion">
        INSERT INTO `tb_question` VALUES (NULL, #{content}, #{modelId}, 'ask', #{answer}, NOW(), 0);
    </insert>

    <update id="updateQuestion">
        UPDATE `tb_question`
        SET
            `q_content` = #{content},
            `q_answer` = #{answer}
        WHERE `q_id` = #{questionId}
    </update>

    <update id="deleteQuestion">
        UPDATE `tb_question`
        SET
            `is_delete` = 1
        WHERE `q_id` = #{questionId}
    </update>

    <select id="listQuestionByModel" resultType="com.example.javapythonstory.code.entity.vo.question.QuestionVo">
        SELECT
               `q_id`,
               `q_model`,
               `q_content`,
               `q_answer`,
               `q_type`,
               `create_time`,
               `is_delete`
        FROM `tb_question`
        WHERE `q_model` = #{modelId}
        AND `is_delete` = 0
    </select>

    <select id="listQuestionByAsk" resultType="com.example.javapythonstory.code.entity.vo.question.QuestionVo">
        SELECT
            `q_id`,
            `q_model`,
            `q_content`,
            `q_answer`,
            `q_type`,
            `create_time`,
            `is_delete`
        FROM `tb_question`
        WHERE `q_model` = 0
        AND `is_delete` = 0
    </select>

    <select id="queryOneQuestionById" resultType="com.example.javapythonstory.code.entity.vo.question.QuestionVo">
        SELECT
            `q_id`,
            `q_model`,
            `q_content`,
            `q_answer`,
            `q_type`,
            `create_time`,
            `is_delete`
        FROM `tb_question`
        WHERE `q_id` = #{questionId}
        AND `is_delete` = 0
    </select>
</mapper>
