<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.ResultSelectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.ResultSelect">
        <id column="rs_id" property="rsId" />
        <result column="rs_result" property="rsResult" />
        <result column="rs_question" property="rsQuestion" />
        <result column="rs_answer" property="rsAnswer" />
    </resultMap>

</mapper>
