<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.SelectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.Select">
        <id column="s_id" property="sId" />
        <result column="s_question" property="sQuestion" />
        <result column="s_content" property="sContent" />
        <result column="s_code" property="sCode" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="addSelect">
        INSERT INTO `tb_select` VALUES (NULL, #{questionId}, #{content}, #{code}, NOW(), 0);
    </insert>

    <update id="updateSelect">
        UPDATE `tb_select`
        SET `s_content` = #{content},
            `s_code` = #{code}
        WHERE `s_id` = #{selectId}
    </update>

    <delete id="deleteSelect">
        DELETE FROM `tb_select`
        WHERE `s_id` = #{selectId}
    </delete>

    <select id="listSelectByQuestionId" resultType="com.example.javapythonstory.code.entity.po.Select">
        SELECT
            `s_id`,
            `s_question`,
            `s_content`,
            `s_code`,
            `create_time`,
            `is_delete`
        FROM `tb_select`
        WHERE `is_delete` = 0
        AND `s_question` = #{questionId}
    </select>

</mapper>
