<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.User">
        <id column="u_id" property="uId" />
        <result column="u_name" property="uName" />
        <result column="u_password" property="uPassword" />
        <result column="u_header" property="uHeader" />
        <result column="u_email" property="uEmail" />
        <result column="u_role" property="uRole" />
        <result column="u_direction" property="uDirection" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
