<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.User">
        <id column="u_id" property="uId" />
        <result column="u_name" property="uName" />
        <result column="u_password" property="uPassword" />
        <result column="u_header" property="uHeader" />
        <result column="u_email" property="uEmail" />
        <result column="u_role" property="uRole" />
        <result column="u_direction" property="uDirection" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="addUser">
        INSERT INTO `tb_user` VALUES(#{userId}, #{username}, #{password}, '', '', 'common', '', 0, NOW());
    </insert>

    <select id="queryCountByEmail" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_user`
        WHERE `u_email` = #{email}
    </select>

    <select id="queryCountByEmailAndPassword" resultType="com.example.javapythonstory.code.entity.vo.user.UserVo">
        SELECT
            `u`.`u_id` AS `id`,
            `u`.`u_name` AS `name`,
            `u`.`u_email` AS `email`,
            `u`.`u_header` AS `header`,
            `u`.`u_role` AS `role`,
            `d`.`u_direction` AS `direction`,
            `u`.`create_time` AS `createTime`,
            `u`.`is_delete` AS `isDelete`
        FROM `tb_user` AS `u`
                 LEFT JOIN `tb_direction` AS `d`
                           ON `u`.`u_direction` = `d`.`d_id`
        WHERE `u`.`email` = #{email}
        AND `u`.`password` = #{password}
        AND `u`.`is_delete` = 0
    </select>
    
    <insert id="addAdmin">
        INSERT INTO `tb_user` VALUES(#{userId}, #{username}, #{password}, '', '', 'common', '', 0, NOW());
    </insert>
    
    <select id="queryCountBySuperName" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_user`
        WHERE `u_name` = #{username}
    </select>

    <select id="queryCountByNameAndPassword" resultType="com.example.javapythonstory.code.entity.vo.user.UserVo">
        SELECT
            `u`.`u_id` AS `id`,
            `u`.`u_name` AS `name`,
            `u`.`u_email` AS `email`,
            `u`.`u_header` AS `header`,
            `u`.`u_role` AS `role`,
            `d`.`u_direction` AS `direction`,
            `u`.`create_time` AS `createTime`,
            `u`.`is_delete` AS `isDelete`
        FROM `tb_user` AS `u`
        LEFT JOIN `tb_direction` AS `d`
        ON `u`.`u_direction` = `d`.`d_id`
        WHERE `u`.`name` = #{username}
          AND `u`.`password` = #{password}
          AND `u`.`is_delete` = 0
    </select>

    <update id="updateUserHeaderById">
        UPDATE `tb_user`
        SET `u_header` = #{headPath}
        WHERE `u_id` = #{id}
    </update>

    <update id="updateUserInfoById">
        UPDATE `tb_user`
        SET `u_name` = #{username}
        WHERE `u_id` = #{id}
    </update>

    <update id="updateUserDirectionById">
        UPDATE `tb_user`
        SET `u_direction` = #{direction}
        WHERE `u_id` = #{id}
    </update>

    <update id="updateEmailById">
        UPDATE `tb_user`
        SET `u_email` = #{email}
        WHERE `u_id` = #{id}
    </update>

    <update id="updatePasswordById">
        UPDATE `tb_user`
        SET `u_password` = #{password}
        WHERE `u_id` = #{id}
    </update>

    <select id="queryCountByIdAndPassword" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `tb_user`
        WHERE `u_id` = #{id}
        AND `u_password` = #{password}
    </select>

    <select id="queryOneUserById" resultType="com.example.javapythonstory.code.entity.vo.user.UserVo">
        SELECT
            `u`.`u_id` AS `id`,
            `u`.`u_name` AS `name`,
            `u`.`u_email` AS `email`,
            `u`.`u_header` AS `header`,
            `u`.`u_role` AS `role`,
            `d`.`u_direction` AS `direction`,
            `u`.`create_time` AS `createTime`,
            `u`.`is_delete` AS `isDelete`
        FROM `tb_user` AS `u`
        LEFT JOIN `tb_direction` AS `d`
        ON `u`.`u_direction` = `d`.`d_id`
        WHERE `u`.`id` = #{id}
          AND `u`.`is_delete` = 0
    </select>

    <select id="listUsersByDirection" resultType="com.example.javapythonstory.code.entity.vo.user.UserVo">
        SELECT
            `u`.`u_id` AS `id`,
            `u`.`u_name` AS `name`,
            `u`.`u_email` AS `email`,
            `u`.`u_header` AS `header`,
            `u`.`u_role` AS `role`,
            `d`.`u_direction` AS `direction`,
            `u`.`create_time` AS `createTime`,
            `u`.`is_delete` AS `isDelete`
        FROM `tb_user` AS `u`
        LEFT JOIN `tb_direction` AS `d`
        ON `u`.`u_direction` = `d`.`d_id`
        WHERE `u`.`direction` = #{direction}
          AND `u`.`is_delete` = 0
    </select>
</mapper>
