<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javapythonstory.code.mapper.VideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.javapythonstory.code.entity.po.Video">
        <id column="v_id" property="vId" />
        <result column="v_name" property="vName" />
        <result column="v_path" property="vPath" />
        <result column="v_model" property="vModel" />
        <result column="v_picture" property="vPicture" />
        <result column="v_introduce" property="vIntroduce" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <insert id="addVideo">
        INSERT INTO `tb_video` VALUES (NULL, '', '', #{modelId}, '', '',NOW(), 0, 0);
    </insert>

    <delete id="deleteUnCommitVideo">
        DELETE
        FROM `tb_video`
        WHERE `v_id` = #{videoId}
        AND `is_commit` = 0
    </delete>

    <update id="setVideoCommit">
        UPDATE `tb_video`
        SET `is_commit` = 1
        WHERE `v_id` = #{videoId}
    </update>

    <update id="updateVideo">
        UPDATE `tb_video`
        SET
            `v_name` = #{name},
            `v_path` = #{path},
            `v_introduce` = #{introduce}
        WHERE `v_id` = #{videoId}
    </update>

    <update id="updateVideoPicture">
        UPDATE `tb_video`
        SET
            `v_picture` = #{picture}
        WHERE `v_id` = #{videoId}
    </update>

    <update id="deleteVideo">
        UPDATE `tb_video`
        SET
            `is_delete` = 1
        WHERE `v_id` = #{videoId}
    </update>

    <select id="listVideoByModel" resultType="com.example.javapythonstory.code.entity.po.Video">
        SELECT
            `v_id`,
            `v_name`,
            `v_model`,
            `v_picture`,
            `v_path`,
            `v_introduce`,
            `create_time`,
            `is_delete`,
            `is_commit`
        FROM `tb_video`
        WHERE `v_model` = #{modelId}
        AND `is_delete` = 0
        AND `is_commit` = 1
    </select>

    <select id="listUnCommitVideo" resultType="com.example.javapythonstory.code.entity.po.Video">
        SELECT
            `v_id`,
            `v_name`,
            `v_model`,
            `v_picture`,
            `v_path`,
            `v_introduce`,
            `create_time`,
            `is_delete`,
            `is_commit`
        FROM `tb_video`
        WHERE `v_model` = #{modelId}
          AND `is_delete` = 0
          AND `is_commit` = 0
    </select>

    <select id="queryOneVideoById" resultType="com.example.javapythonstory.code.entity.po.Video">
        SELECT
            `v_id`,
            `v_name`,
            `v_model`,
            `v_picture`,
            `v_path`,
            `v_introduce`,
            `create_time`,
            `is_delete`,
            `is_commit`
        FROM `tb_video`
        WHERE `v_id` = #{videoId}
          AND `is_delete` = 0
    </select>
</mapper>
